.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-part {
  color: #2e2f42;
}

.link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.link:hover {
  color: #404bbf;
}

.menu {list-style-type: none;}

.link:focus {
  color: #404bbf;
}

.contacts {
  font-style: normal;
}

.contacts-connect {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.contacts-connect:hover,
.contacts-connect:focus {
  color: #404bbf;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.first-section {
  background-color: #2e2f42;
}

.main-header {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.order-service {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  cursor: pointer;
}

.order-service:hover,
.order-service:focus {
  background-color: #404bbf;
}

.second-header-a {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.first-page-a {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.third-section {
  background-color: #f4f4fd;
}

.main-header-third-section {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.list-third-section {
  background-color: #ffffff;
}

.headers-third-section {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.pages-third-section {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.headers-fourth-section {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.pages-fourth-section {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.foot {
  background-color: #2e2f42;
}

.logo-part-second {
  color: #f4f4fd;
}

.page-foot {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
